@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
}

.card {
    height: 43%;
    width: 22%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-top {
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: url('./images/bg-pattern-card.svg');
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: top;
    border-radius: 10px 10px 0 0;
}

.card-bottom {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid rgb(225, 225, 225);
}

.card-image {
    border-radius: 50%;
    border: 3px solid white;
}

span {
    font-size: 22px;
    font-weight: 400;
}

.top-image-container {
    position: fixed;
    top: -400px;
    left: -150px;
    z-index: -1;
}

.bottom-image-container {
    position: fixed;
    bottom: -400px;
    right: -150px;
    z-index: -1;
}

.attribution {
    position: fixed;
    bottom: 30px;
}